################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/Vis-Ability.Azure.KeyVault/v16
/.vs
