################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/Vis-Ability.Azure.KeyVault/v16
/.vs
/src/Azure.KeyVault/bin/Debug
/src/Azure.KeyVault/obj
/src/Azure.KeyVault/Properties
/src/obj/Debug/net6.0
